<html>
<head>
<title>MtgCardInfo: Get a list of the cards for an MTG article</title>
</head>
<body>
<h1>MtgCardInfo</h1>
<p>A little <a href='http://code.google.com/appengine/'>Google App Engine</a>
powered app to gather all the cards referenced in a 
"<a href='http://www.wizards.com/magic/magazine/Default.aspx'>Daily
Magic The Gathering</a>" article in a printable format, so you can read
the article in the bath and know what card is what. 
</p>
<p>Drag this
<a href="javascript:(function(){window.location.href='{{ url }}?u='+escape(window.location.href)+'&t='+escape(document.title);})()">MtgCardInfo</a>
bookmarklet to your bookmark toolbar, then when you're viewing an 
<a href='http://www.wizards.com/magic/magazine/Default.aspx'>article</a>,
click the bookmarket to get the card list.</p>
<p><a href='http://github.com/qmacro/gae-qmacro'>Source code hosted
on Github</a></p>
</body>
</html>

